body {
  background-image: url(https://xip-bucket.s3.ap-northeast-2.amazonaws.com/xItem/i/backgroundVideo.gif);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
}

html{
  cursor: url("https://xip-bucket.s3.ap-northeast-2.amazonaws.com/xItem/i/cursor-7.cur"), default;
}

header {
  position: fixed;
  z-index: 1;
}

/* 이미지 버튼 사용시 커서 이미지 변경 */
.imgBtnNoHover{  
  
}

/* 이미지 버튼클래서에 마우스 올릴시 나타나는 이벤트  */
.imgBtn:hover {
  /* x y z 확대  */
  transform: scale3d(1.1, 1.1, 1.1)
}

.logoImage{  /* 팝업으로 많이 이용 */
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;  /* 왼쪽에서 중앙 */
    top: 50%;    /* 위에서 중앙*/
    transform: translate(-50%, -50%); /*(left, top) 요소사이즈만큼 반대로 이동 */
}

.youtube{
  position: absolute;
  top: 50%;    /* 위에서 중앙*/
  left: 50%;   /* 왼쪽에서 중앙 */
  transform: translate(-50%, -50%);   /* 요소사이즈만큼 반대로 이동 */
}

.spermCursor {   /*정자커서*/
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  /* background-color: black; */
  background-size: 100%;
  background-repeat: round;
  background-image: url('https://xip-bucket.s3.ap-northeast-2.amazonaws.com/xItem/i/giphy2.gif');
  /* 방향, 좌표  */
  
  /* 좌표 */
  /* transform: translate(-50%, -50%); */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

 /* 처음화면 배경 */
.beforeStart {  
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  z-index: 5;
}